
html, body {
    height: 100%;
    /* background-color:#E6E6E6; */
    background-image: url("../assets/img/fondo1.png");
    /* background-position: center; */
    background-size: cover;
    color: #424242;
    font-size: .9rem;
}

.img-producto {
    width: 25%;
    margin: 10px;
}

.opaco {
    background-color: rgba(255, 255, 255, .5);
}

.doo001 {
    background-color: rgba(245, 246, 206, .5);
}

.doo002 {
    background-color: rgba(206, 227, 246, .5);
}

.doo003 {
    background-color: rgba(246, 216, 206, .5);
}

.doo004 {
    background-color: rgba(216, 246, 206, .5);
}