html, body {
    height: 100%;
    background-color:#E6E6E6;
    color: #424242;
    font-size: .9rem;
}

.container {
    border-radius: 5px;
    background-color:#F2F2F2;
}


.img-producto {
    width: 25%;
    margin: 10px;
}